{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <form class="form-horizontal" action="" method="POST">
          <legend>Prijava korisnika</legend>
          <fieldset>
            {% csrf_token %}
            {{ form|bootstrap_horizontal:'col-md-4' }}
            <input type="hidden" name="next" value="{% if next %}{{ next|escape }}{% else %}/{% endif %}"/>
          </fieldset>
          <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
              <button type="submit" class="btn btn-success">Prijava</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
