{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <legend>Brucoš - {{ student.full_name }}</legend>
        <table class="table table-detail">
          <tbody>
            <tr><td>Ime</td><td>{{ student.first_name }}</td></tr>
            <tr><td>Prezime</td><td>{{ student.last_name }}</td></tr>
            <tr><td>Korisničko ime</td><td>{{ student.username }}</td></tr>
            <tr><td>E-mail</td><td>{{ student.email }}</td></tr>
            <tr>
              <td>Karta</td>
              <td>
                {% if student.ticket %}
                  <span class="label label-success">Kupljena</span> &nbsp{{ student.ticket.number }}
                {% else %}
                  <span class="label label-danger">Nije kupljena</span>
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
        {% if not student.ticket %}
          <a class="btn btn-warning" href="{% url 'tickets:student_buy_ticket' student.id %}"><i class="glyphicon glyphicon-gift"></i> Kupi kartu</a>
        {% else %}
          <a class="btn btn-primary" href="{% url 'tickets:student_send_mail' student.id %}"><i class="glyphicon glyphicon-send"></i> Ponovo pošalji mail</a>
        {% endif %}
        <a class="btn btn-default" href="{% url 'tickets:student_list' %}">Povratak</a>
      </div>
    </div>
  </div>
{% endblock %}
